[Unit]
Description=Traefik reverse proxy
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/traefik:v3.6.2
PublishPort=8080:80
PublishPort=8443:443
PublishPort=8081:8080
Network=traefik.network
Volume=traefik.volume:/etc/traefik
Volume=%h/traefik:/config:z
Volume=%h/traefik/certs:/certs:ro,z
Volume=%h/traefik/dynamic:/etc/traefik/dynamic:ro,z
AddCapability=NET_BIND_SERVICE
Environment=TZ=America/Indiana/Indianapolis
Label=traefik.enable=false
Exec=--api.insecure=true \
  --providers.file.directory=/config \
  --entrypoints.web.address=:80 \
  --entrypoints.websecure.address=:443 \
  --providers.docker=true \
  --providers.docker.exposedbydefault=false \
  --providers.file.directory=/etc/traefik/dynamic

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
